<% layout('../common/layout') -%>

<div class="container">
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading clearfix">
                <div class="panel-title pull-left"><b><i class="glyphicon glyphicon-list-alt"></i> 游戏列表</b></div>
                <a class="btn btn-success btn-xs pull-right" href="/admin/game/add">添加游戏</a>
            </div>
            <div class="panel-body">
                <form class="form-inline" role="form">
                    <div class="form-group">
                        <select class="form-control">
                            <option>全部</option>
                            <option>用户名</option>
                            <option>昵称</option>
                            <option>手机</option>
                            <option>电子邮箱</option>
                            <option>不限</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="请输入搜索关键字">
                    </div>
                    <button type="submit" class="btn btn-default">搜索</button>
                </form>
            </div>
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>主机平台</th>
                        <th>描述</th>
                        <th>URL标识</th>
                        <th>添加/修改时间</th>
                        <th width="20%">管理</th>
                    </tr>
                </thead>
                <tbody>
                    <% if(platforms) { %>
                    <% platforms.forEach(function(platform){ %>
                    <tr>
                        <td><%=platform.name %></td>
                        <td><%=platform.desc %></td>
                        <td><%=platform.slug %></td>
                        <td><%=platform.meta.createAt %></td>
                        <td>
                            <a href="/admin/game/platform?id=<%=platform._id%>" class="btn btn-xs btn-success">游戏列表</a>
                            <a href="/admin/game/platform/edit?id=<%=platform._id%>" class="btn btn-xs btn-warning">编辑</a>
                            <a href="javascript:;" class="btn btn-xs btn-danger cc-btn-delete" data-id="<%=platform._id%>">删除</a>
                        </td>
                    </tr>
                    <% }) %>
                    <% } else { %>
                    <tr>
                        <th rowspan="7">暂无记录</th>
                    </tr>
                    <% } %>
                </tbody>
            </table>
            <div class="panel-footer">
                <ul class="pagination">
                    <li class="disabled"><a href="#">上一页</a></li>
                    <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
                    <li><a href="#">2 <span class="sr-only">(current)</span></a></li>
                    <li><a href="#">3 <span class="sr-only">(current)</span></a></li>
                    <li class="disabled"><a href="#">下一页</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<script>require(['admin/game/index']);</script>